/* potentially hidden at start of game */
header {
    position: relative;
    float: right;
    margin-right: 50px;
    visibility: hidden;
    background:white;
    z-index: 1;
}

.funky {
    background: salmon;
}
.button {
    margin: 15px;
}

#quizStartSpan {
    display: flex;
    align-items: center;
    justify-content: center;
}